* {
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}

#container{
    margin: 0 auto;
}

/*#header {
    border-collapse: collapse;
    border: 2px solid red;
}*/

#header-left {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

#menue{
    text-align: center;
    margin-top: 20px;
    border: 1px solid red;
    float:left;
}

#inhalt {
    border-width: 0 1px 1px 1px;
    border-color: yellow;
    border-style: solid;
    padding: 10px;
}

/*
ul#liste {
    list-style-type: none;
    padding: 0 0 24px 30px;
    border-bottom: 1px solid #0099FF;
}

ul#liste li {
    float: left;
    height: 21px;
    background-color: #A1FF8A;
    margin: 2px 2px 0 2px;
    border: 1px solid #0099FF;
}

#liste a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px 10px;
}

#liste a:hover {
    background: #FFF;
}

#liste li#hier {
    border-bottom: 1px solid #FFF;
    background-color: #FFF;
}

#liste li#hier a {
    color: #000;
}


*/


td {
    border: 1px black solid;
    font-size: 15px;
}