/*** GRUND FORMATIERUNGEN ***/
table{
    border-collapse: collapse; /*durchgehende Linie*/
}

/*** UNIVERSAL-SELEKTOR ***/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#header-left {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

#inhalt {
    padding: 10px 0 10px 0px;
    position: relative;
    left: 15%;
    visibility: visible;
}

#tabelleCebitTeilnehmer {
    text-align: center;
    padding: 10px 0 10px 0px;
    position:relative;
    left: 15%;
}

#tabelleConhitTeilnehmer {
    text-align: center;
    padding: 10px 0 10px 0px;
    position:relative;
    left: 15%;
}

#tabelleWebtechTeilnehmer {
    text-align: center;
    padding: 10px 0 10px 0px;
    position:relative;
    left: 15%;
}


/*** KLASSEN ***/
.tabellenInhalt{
    width: 200px;
    border: 1px solid #000;
    font-size: 15px;
}

.tabelleTeilnehmer{
    width: 200px;
    border: 1px solid #000;
    font-size: 15px;
}

