/* Universal-Selektor */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#header-left {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

#inhalt {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    padding: 10px;
}

/*td {
    border: 1px black solid;
    font-size: 15px;
}*/

.tabellenInhalt{
    border: 1px black solid;
    font-size: 15px;
}