@charset "utf-8";

#header{
    width: 1000px;
    text-align: center;
    border: 1px solid red;
}

#header-left{
    border: 1px solid deeppink;
    font-size: 22px;
    padding-top:20px;
    /*padding-right: 25px;*/

}

#header-right{
    border: 1px solid blue;
    text-align: right;
}

#content{
    border: 1px solid aquamarine;
    font-size: 16px;
}

.picture-right{
    float: right;



}

.picture-left{
    float: left;
}