@charset "utf-8";

#header{
    width: 1000px;
    text-align: center;

}

#header-left{
    font-size: 22px;
    padding-top:20px;
    /*padding-right: 25px;*/

}

#header-right{

    text-align: right;
}

#content{
    text-align: justify;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.picture-right{
    float: right;



}

.picture-left{
    float: left;
}