@charset "utf-8";

#header{
    width: 100%;
    text-align: center;

}

#header-left{
    font-size: 22px;
    padding-top:20px;
}

#header-right{
    text-align: right;
}

#content{
    text-align: justify;
    padding: 120px 20px 20px 20px; /* Abstand von: oben, rechts, unten, links */
    font-size: 16px;
}

.picture-right{
    float: right;
}

.picture-left{
    float: left;
}