body {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial Black;
}

/***** GLOBALE FORMATIERUNGEN *****/

h1{

    }

h2{

}

td {
    vertical-align: top;
    font-size: 12px;
}

p {
    font-size: 12px;
    font-height: 12px;
}

.anmeldung {
    font-size: 20px;
}

.messeInfos {
    font-size: 14px;
    text-align: center;
}

#links {
    text-align: center;
    font-size: 16px;
}

/***** CONTAINER *****/

#container {
    background-color: #99D9EA;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid fuchsia;
}

/***** HEADER *****/

#header {
    width: 1000px;
    height: 125px;
    /*border: 1px solid deeppink;*/
    display: block;
    float: left;
    /**position: relative;**/
}

#header-left {
    width: 625px;
    display: block;
    float: left;
    padding: 0 0 0 20px; /* Abstand von: oben, rechts, unten, links */
    /*border: 1px solid red;*/

}

#header-right {
    width: 326px;
    /**border: 1px solid blue;**/
    display: block;
    float: right;

    /**right: 50px;    /** Abstand von rechts **/
    /**position: absolute;**/
    /**top: 15px;**/

}

/***** Inhalt - zwei spaltiges Layout *****/

#content {
    /*border: 1px solid black;*/
    height: 350px;
}

#content-left {
    width: 400px;
    height: 200px;
    display: block;
    float: left;
    /*border: 1px solid darkgreen;*/
}

#formular {
    display: block;
    float: left;
    height: auto;
    padding-left: 20px;
    /*border: 1px solid orchid;*/
}

#content-right {
    /*border: 1px solid gold;*/
    display: block;
    float: right;
    width: 575px;
    height: 200px;
}

#messe-info {
    width: 575px;
    /*border: 1px solid springgreen;*/
    display: block;
    float: right;
    text-align: center;
}
