body{
    font-size: 12px;
    font-weight: bold;
    font-family: Arial Black;
    font-height: 12px;
}

/*h1{
    font-size: 20px;
}*/

#container{
    background-color: #99D9EA;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

#header{
    width: 1000px;
    height: 125px;
    border: 1px solid deeppink;
    display: block;
    float: left;
    /**position: relative;**/
}

#header-left{
    width: 625px;
    display: block;
    float:left;
    padding: 0 0 0 20px; /* Abstand von: oben, rechts, unten, links */
    border: 1px solid red;

}

#header-right{
    width: 327px;
    /**border: 1px solid blue;**/
    display:block;
    float:right;

    /**right: 50px;    /** Abstand von rechts **/
    /**position: absolute;**/
    /**top: 15px;**/

}

#inhalt{
    border: 1px solid black;
    height: 350px;
}

#inhalt-links{
    width: 480px;
    height: 200px;
    display:block;
    float:left;
    border: 1px solid darkgreen;
}

#formular{
    display: block;
    float:left;
    height: auto;
    padding-left: 20px;
    border: 1px solid orchid;
}

#inhalt-rechts{
    border: 1px solid gold;
    display: block;
    float: right;
    width: 495px;
    height: 200px;
}

#messe-info{
    border: 1px solid springgreen;
    display: block;
    float: right;
}