

#container{
    background-color: #99D9EA;
    border: 1px solid black;
    width: 925px;
    height: 500px;
    margin: 0 auto;
}

#header{
    width: 925px;
    height: 125px;
    border: 1px solid deeppink;
    display: block;
    float: left;
    /**position: relative;**/
}

#header-left{
    width: 575px;
    display: block;
    float:left;
    padding-left: 20px;
    border: 1px solid red;

}

#header-right{
    width: 326px;
    /**border: 1px solid blue;**/
    display:block;
    float:right;
    /**right: 50px;    /** Abstand von rechts **/
    /**position: absolute;**/
    /**top: 15px;**/

}

#inhalt{
    border: 1px solid yellow;
    margin: 200px 0 0;
    height: 300px;
}

#inhalt_links{
    width: 450px;
    height: 200px;
    display:block;
    float:left;
    border: 1px solid darkgreen;
}

#formular{
    display: block;
    float:left;
    height: auto;
    padding-left: 20px;
    border: 1px solid orchid;
}

#inhalt_rechts{
    border: 1px solid gold;
    display: block;
    float: right;
    width: 465px;
    height: 200px;
}

#messe_info{
    border: 1px solid springgreen;
    display: block;
    float: right;
}