body {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial Black;

}

/***** GLOBALE FORMATIERUNGEN *****/

h1, h2 {

}

td {
    vertical-align: top;
    font-size: 12px;
}

p {
    font-size: 12px;
    font-height: 12px;
}

/***** CONTAINER *****/

#container {
    background-color: #99D9EA;
    width: 1000px;
    min-height: 400px;
    margin: 0 auto;
}

/***** HEADER *****/

#header {
    width: 1000px;
    display: block;
    float: left;
}

#header-left {
    width: 625px;
    display: block;
    float: left;
    padding: 0 0 0 20px; /* Abstand von: oben, rechts, unten, links */
}

#header-right {
    margin: 5px 5px 0 0;
    width: 326px;
    display: block;
    float: right;
    border: 1px solid #D8E3D7;
    box-shadow: black 1px 1px 3px 1px;
}

/***** Inhalt - zwei spaltiges Layout *****/

#content {
    background-color: #99D9EA;
}

#content-left {
    width: 400px;
    display: block;
    float: left;
    margin-top: 10px;
}

#formular {
    display: block;
    float: left;
    padding-left: 20px;
}

#content-right {
    margin-top: 10px;
    display: block;
    float: right;
    width: 575px;
    text-align: center;
}

/*****KLASSEN *****/

.anmeldung {
    font-size: 20px;
}

.messeInfos {
    font-size: 14px;
    text-align: center;
}

.links {
    text-align: center;
    font-size: 16px !important;
}