/* Alle Elemente */
#menue *{
    margin:0;
    padding:0;
    text-align: center;
}

/* Div Bereich */
#menue{
    /*border:3px solid green;*/
    float:left; /*Div Bereich schließt ul-Element ein*/
}

/* ul Elemente */
#menue ul{
    /*border: 2px solid red;*/
    float:left; /*ul-Element schließt li-Elemente ein*/
    clear:both;
}

/* li Elmente */
#menue li{
    /*border: 2px solid blue;*/
    list-style-type: none;
    float: left;
    position:relative;
    background-color: #DED;
}

#menue li:first-child{
    border-left:none;
}

#menue li ul{ /*Submenue*/
    position: absolute;
    width: 100%;

}

#menue li ul li{
    width: 100%;
}

#menue a{
    background: linear-gradient(to bottom, #ffffff 21%, steelblue 100%);
    color: darkslategrey;
    padding: .3em 1.5em; /* größe der Menuefelder */
    display:block;
    border-right: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
    border-left: 1px solid steelblue;
    border-top: 1px solid steelblue;
}


/* Links(hover) */
#menue a:hover{
    color: #FFF;
    background: -moz-linear-gradient(top, #1D412C, #666);
    background: -webkit-linear-gradient(top, #1D412C, #666);
    background: -ms-linear-gradient(top, #1D412C,#666);

}
