/* Alle Elemente */
#menue-horizontal * {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Div Bereich */
#menue-horizontal {
    /*border:3px solid green;*/
    float: left; /*Div Bereich schließt ul-Element ein*/
    margin: 0 auto;
    left: 20%;
    position: relative;
}

/* ul Elemente */
#menue-horizontal ul {
    /*border: 2px solid red;*/
    float: left; /*ul-Element schließt li-Elemente ein*/
    clear: both;
}

/* li Elmente */
#menue-horizontal li {
    /*border: 2px solid blue;*/
    list-style-type: none;
    float: left;
    position: relative;
    background-color: #DED;
}

#menue-horizontal li:first-child {
    border-left: none;
    float: left;
}

#menue-horizontal a {
    background: linear-gradient(to bottom, #ffffff 21%, steelblue 100%);
    color: darkslategrey;
    padding: .3em 1.5em; /* größe der menue felder */
    display: block;
    border-right: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
    border-left: 1px solid steelblue;
    border-top: 1px solid steelblue;
}

/* Links(hover) */
#menue-horizontal a:hover {
    color: #FFF;
    background: -moz-linear-gradient(top, #1D412C, #666);
    background: -webkit-linear-gradient(top, #1D412C, #666);
    background: -ms-linear-gradient(top, #1D412C, #666);

}
